<h1>New List</h1>

<%= form_with(model: @list, url: lists_path, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.submit "Create Movie List" %>
<% end %>

<a><%= link_to "My Lists", lists_path %></a>
