<h1>New Bookmark</h1>

<%= render 'shared/error_messages', object: @bookmark %>

<%= form_with(model: [@list, @bookmark], url: list_bookmarks_path(@list)) do |form| %>
  <div>
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.label :movie_id, 'Movie' %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title %>
  </div>

  <%= form.submit 'Create Bookmark' %>
<% end %>
